{% extends "layout.html" %}
{% block head %}
  {% block title %}
  {% if status == "download" %}
	<title>Downloaded log</title>
  {% elif status == "done" %}
	<title>Verification done.</title>	
  {% elif status == "pending" %}
	<title>Verification pending...</title>
  {% elif status == "wait" %}
	<title>Please wait...</title>
  {% else %}
	<title>WTF just happened ?</title>
  {% endif %}
  {% endblock title %}
{% endblock head %}


{% block body %}
  {% if status == "download" %}
	<h1>{{filename}}</h1>
  {% elif status == "done" %}
	<h1>Verification done.</h1>
  {% elif status == "pending" %}
	<h1>Verification pending...</h1>
  {% elif status == "wait" %}
	<h1>Verification has not started yet, please wait...</h1>
  {% else %}
	<h1>WTF just happened ?</h1>	
  {% endif %}
  
  <meta http-equiv="Cache-Control" content="no-cache">
  {% if status == "download" %}
	<pre><code>{{ log_content }}</code></pre>
  
  {% elif status == "done" %}
	<!--<pre>-->
	<pre>Be sure that instructions are reserved at the beginning to initialise registers used to store operands.</pre>
	<pre><code>{{ code_content }}</code></pre>
    <p>    -----------------------------------------  </p>
	<pre><code>{{ log_content }}</code></pre>
	<!--</pre>-->
  
  {% elif status == "pending" %}
	<!-- <meta http-equiv="refresh" content="1"> -->
	<pre><code>{{ log_content }}</code></pre>
  
  {% elif status == "wait" %}
	<!-- <meta http-equiv="refresh" content="1"> -->
	Please wait until the queue is processed... {{ pending }} jobs.
  
  {% else %}
	<pre>WTF just happened ?</pre>	
  {% endif %}  
	
	
{% endblock body %}
