{% extends "layout.html" %}
{% block head %}
{% block title %}
{% if status == "download" %}
<title>Downloaded log</title>
{% elif status == "done" %}
<title>Verification done.</title>
{% elif status == "pending" %}
<title>Verification pending...</title>
{% elif status == "wait" %}
<title>Please wait...</title>
{% else %}
<title>WTF just happened ?</title>
{% endif %}
{% endblock title %}
{% endblock head %}


{% block body %}
{% if status == "download" %}
<h3>{{filename}}</h3>
{% elif status == "done" %}
<h3>Verification done.</h3>
{% elif status == "pending" %}
<h3>Verification pending...</h3>
{% elif status == "wait" %}
<h3>Verification has not started yet, please wait...</h3>
{% else %}
<h3>WTF just happened ?</h3>
{% endif %}

<meta http-equiv="Cache-Control" content="no-cache">
{% if status == "download" %}
<pre><code>{{ log_content }}</code></pre>

{% elif status == "done" %}
<pre>Be sure that instructions are reserved at the beginning to initialise registers used to store operands.</pre>
<pre><code>{{ code_content }}</code></pre>
<pre><code>{{ labels }}</code></pre>
<p> ----------------------------------------- </p>
<pre><code>{{ log_content }}</code></pre>

{% elif status == "pending" %}
<!-- <meta http-equiv="refresh" content="1"> -->
<pre><code>{{ log_content }}</code></pre>

{% elif status == "wait" %}
<!-- <meta http-equiv="refresh" content="1"> -->
Please wait until the queue is processed... {{ pending }} jobs.

{% else %}
<pre>WTF just happened ?</pre>
{% endif %}


{% endblock body %}
